@import url("common.css");

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 25px 0;
    background-color: var(--black);
  }
  
  .navcontainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
  }

  .navlogo {
    margin-top: 0px;
    margin-left: 40px;
  }
  
  .uil-bars {
    cursor: pointer;
    color: var(--white);
    font-size: 35px;
  }
  
  #navbar-responsive {
    transition: var(--tran);
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #232536e4;
  }
  
  .uil-multiply {
    cursor: pointer;
    padding: 25px 20px;
    color: var(--white);
    font-size: 35px;
    position: absolute;
    right: 0px;
  }
  
  .hamcontent {
    padding: 25px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .hamcontent a {
    margin: 10px;
    font-family: var(--inter);
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .navbutton {
    margin-right: 40px;
    margin-left: 20px;
    transform: scale(1);
    background-color: var(--white);
    color: var(--black);
    font-family: var(--sen);
    border: none;
    padding: 16px 48px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .navbutton:hover {
    background-color: #d4a41f;
    transition: 0,5s;
  }

.navlinks a {
  margin: auto 12px;
  font-family: var(--inter);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}



.navbarshrink {
  padding: 10px 0px;
  box-shadow: 1px 5px 15px var(--black);
}

.container {
   background-color: #E5E5E5;

}

.content h1{
    padding-top: 128px;
    padding-bottom: 17px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: center;
    color: #232536;
}

h2{
    margin: 12px 0px 24px;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: center;
}

.content p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 768px;
    margin: 0 auto;
}

#pastki-qism{
    margin-top: 58px;
}

.containers{
    padding-top: 64px;
    width: 768px;
    height: 280px;
    background-color: #592EA9;
    margin: 0 auto;
    display: flex;
}

.left-content {
    width: 50%;
    display: inline-block;
}

.left-content a {
    position: absolute;
    font-family: sans-serif;
    padding: 0px 0px 0px 54px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(201, 191, 191);
}

.hr1 {
    margin: 40px 0px 0px 54px;
        width: 294px;
        height: 0px;
        border: 1px solid rgb(201, 191, 191);
}

.left-content h1 {
   padding: 30px 71px 13px 54px;
   font-family: sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 32px;
   color: #FFFFFF;
}

.left-content p {
   padding: 10px 29px 10px 54px;
   font-family: sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: rgb(201, 191, 191);
}


.right-content {
    width: 50%;
    display: inline-block;
}

.right-content a {
    position: absolute;
    font-family: sans-serif;
    padding: 0px 0px 0px 54px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(201, 191, 191);
}

.hr2 {
    margin: 40px 0px 0px 54px;
        width: 294px;
        height: 0px;
        border: 1px solid rgb(201, 191, 191);
}

.right-content h3 {
    padding: 30px 71px 13px 54px;
   font-family: sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 32px;
   color: #FFFFFF;
}

.right-content p {
    padding: 10px 29px 10px 54px;
   font-family: sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: rgb(201, 191, 191);
}

form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 100px;
}

form input {
  padding-right: 700px;
  max-width: 768px;
  height: 56px;
  padding-left: 15px;
  border: 1px solid rgba(109, 110, 118, 0.5);
  border-radius: 2px;
}

input::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}


form select {
  max-width: 768px;
  height: 56px;
  padding-left: 25px;
  border: 1px solid rgba(109, 110, 118, 0.5);
  border-radius: 2px;
}

form #text {
  border: 1px solid rgba(109, 110, 118, 0.5);
  border-radius: 2px;
  max-width: 768px;
  height: 100px;
}

form button {
  max-width: 768px;
  height: 56px;
  background: #ffd050;
  border: transparent;
}

form button a {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #232536;
}

.tugma {
    margin: 20px 305px 128px;
    padding: 16px 304px;
    background-color: #ffd256;
}

.tugma p {
    font-family: sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 32px;
    color: #232536;
}

.tugma:hover {
    background-color: #d4a41f;
    transition: 0.5s;
}

footer {
    background-color: var(--black);
    
  }
  
  .footerlinks {
    position: absolute;
    margin-top: -5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 940px;
  }
  
  .footerlinks a {
    font-family: var(--inter);
    color: var(--white);
    margin-top: 20px;
  }
  
  .footerlinks a:hover {
    text-decoration: underline;
  }
  
  .footertop img {
    margin-top: 14px;
    margin-bottom: 25px;
    margin-left: 140px;
    height: 28.35443115234375px;
    width: 140px;
  }
  
  .footertop {
    margin-top: 80px;
    padding: 28px 0px 0px 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .footer-subscribe {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 100px;
    align-items: center;
    width: 100%;
    height: 256px;
    margin-bottom: 48px;
    padding: 0 64px;
    background: #2e3040;
  }
  
  .footer-subscribe h2 {
    max-width: 562px;
    font-family: var(--sen);
    color: var(--white);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
  }
  
  .footer-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  
  .footer-form input {
    font-family: var(--inter);
    min-width: 100px;
    max-width: 323px;
    border: 1px solid #4c4c4c;
    padding: 14px 20px;
    background-color: transparent;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  
  .footer-form button {
    font-family: var(--sen);
    border: none;
    padding: 16px 48px;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  
  .footer-form button:hover {
    background-color: var(--buttonhover);
  }
  
  .footer-bottom {
    padding: 48px 0 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer-bottom-left p {
    margin-left: 140px;
    font-family: var(--inter);
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  
  .footer-bottom-right {
    display: flex;
    gap: 26px;
    margin-right: 150px;
    margin-left: 1240px;
    margin-bottom: -10px;
  }
  
  .footer-bottom-right img {
    width: 16px;
    height: 16px;
  }

  @media (max-width: 700px) {
    .containers {
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
  
    .containers .left-content {
      padding-left: 30px;
      text-align: center;
    }
  
    .containers .right-content {
      padding-left: 100px;
      text-align: center;
    }
  
    .right-content .line {
      display: none;
    }
  
    .left-content .hr2 {
      display: none;
    }
  }
  
  @media (min-width: 720px) {
    /* --navbar -- */
    #navbar-responsive {
      display: none;
    }
  
    #navbar-open {
      display: none;
    }
  
    .navlinks {
      display: flex;
      height: 100%;
      align-items: center;
    }
  
    /* --End nvnbar-- */
  }

  


