header{
	padding-top: 76px;
	background-image: url(../images/home/bgimg.png);
	background-size: cover;
	background-repeat: no-repeat;
}


.headercontent{
	padding-top: 128px;
	padding-bottom: 192px;
}


.headercontent h2{
	text-transform: uppercase;
	color: var(--white);
	font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.headercontent h2 span{
	font-weight: ;
}



main{
	background-color: var(--background);
}


