@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  transition: var(--tran);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  min-width: 350px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}
.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  background: #232536;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  margin-top: 25px;
}

.navbar-right {
  display: flex;
  margin-top: 10px;
}

.navbar-right .nav-link {
  font-family: "Inter", sans-serif;
  padding-right: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.navbar-right-button a button {
  width: 179px;
  height: 56px;
  margin-left: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  color: #232536;
}

.navbar-right-button a button:hover {
  background: #ffd050;
  transition: 0.5s;
}

.toggle {
  display: none;
  margin-top: 20px;
}

.toggle button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  font-size: 20px;
  border: none;
  color: #2e3040;
  background: #ffffff;
}

.toggle button:hover {
  background: #ffd050;
  transition: 0.5s;
}

#navbar-responsive {
  display: none;
}
